<div>
  <div class="row rows-cols-4">
    <h2 class="font-bold text-2xl mb-8">
      Join LIVE adventures and Show off your Player Skills
    </h2>
    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div class="relative">
          <img
            src="../../../assets/images/cards/lives/live-1.png"
            class="card-img-top"
            alt="live..."
          />
          <div class="absolute top-1 left-0 right-0 flex justify-between p-2">
            <div
              class="flex gap-x-1 rounded-[8px] p-1 bg-[#F22525] text-white text-[10px] h-auto"
            >
              <img
                src="../../../assets/icons/eyer.png"
                alt="icon..."
                class="w-4 h-3 mt-1 ml-2"
              />
              <span class="font-bold text-[13px]">10.48K</span>
            </div>

            <button
              class="font-bold text-[13px] p-1 bg-white text-black rounded-[8px] text-[10px]"
            >
              Join Me
            </button>
          </div>
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="row row-cols-2">
            <div class="col">
              <div class="flex gap-x-1 lg:gap-x-2">
                <div>
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span> waltdejesus </span>
              </div>
            </div>

            <div class="col">
              <div class="flex items-center gap-x-1 lg:gap-x-2">
                <div class="z-20 absolute">
                  <img
                    src="../../../assets/images/Naldo.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-10 ml-2 pl-1 absolute">
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-0 ml-2 pl-4 absolute">
                  <img
                    src="../../../assets/images/Micheli.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span class="ml-16"> + 5.5k Players </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div class="relative">
          <img
            src="../../../assets/images/cards/lives/live-1.png"
            class="card-img-top"
            alt="live..."
          />

          <div class="absolute top-1 left-0 right-0 flex justify-between p-2">
            <div
              class="flex gap-x-1 rounded-[8px] p-1 bg-[#F22525] text-white text-[10px] h-auto"
            >
              <img
                src="../../../assets/icons/eyer.png"
                alt="icon..."
                class="w-4 h-3 mt-1 ml-2"
              />
              <span class="font-bold text-[13px]">10.48K</span>
            </div>

            <button
              class="font-bold text-[13px] p-1 bg-white text-black rounded-[8px] text-[10px]"
            >
              Join Me
            </button>
          </div>
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="row row-cols-2">
            <div class="col">
              <div class="flex gap-x-1 lg:gap-x-2">
                <div>
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span> waltdejesus </span>
              </div>
            </div>

            <div class="col">
              <div class="flex items-center gap-x-1 lg:gap-x-2">
                <div class="z-20 absolute">
                  <img
                    src="../../../assets/images/Naldo.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-10 ml-2 pl-1 absolute">
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-0 ml-2 pl-4 absolute">
                  <img
                    src="../../../assets/images/Micheli.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span class="ml-16"> + 5.5k Players </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div class="relative">
          <img
            src="../../../assets/images/cards/lives/live-1.png"
            class="card-img-top"
            alt="live..."
          />

          <div class="absolute top-1 left-0 right-0 flex justify-between p-2">
            <div
              class="flex gap-x-1 rounded-[8px] p-1 bg-[#F22525] text-white text-[10px] h-auto"
            >
              <img
                src="../../../assets/icons/eyer.png"
                alt="icon..."
                class="w-4 h-3 mt-1 ml-2"
              />
              <span class="font-bold text-[13px]">10.48K</span>
            </div>

            <button
              class="font-bold text-[13px] p-1 bg-white text-black rounded-[8px] text-[10px]"
            >
              Join Me
            </button>
          </div>
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="row row-cols-2">
            <div class="col">
              <div class="flex gap-x-1 lg:gap-x-2">
                <div>
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span> waltdejesus </span>
              </div>
            </div>

            <div class="col">
              <div class="flex items-center gap-x-1 lg:gap-x-2">
                <div class="z-20 absolute">
                  <img
                    src="../../../assets/images/Naldo.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-10 ml-2 pl-1 absolute">
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-0 ml-2 pl-4 absolute">
                  <img
                    src="../../../assets/images/Micheli.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span class="ml-16"> + 5.5k Players </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div class="relative">
          <img
            src="../../../assets/images/cards/lives/live-1.png"
            class="card-img-top"
            alt="live..."
          />

          <div class="absolute top-1 left-0 right-0 flex justify-between p-2">
            <div
              class="flex gap-x-1 rounded-[8px] p-1 bg-[#F22525] text-white text-[10px] h-auto"
            >
              <img
                src="../../../assets/icons/eyer.png"
                alt="icon..."
                class="w-4 h-3 mt-1 ml-2"
              />
              <span class="font-bold text-[13px]">10.48K</span>
            </div>

            <button
              class="font-bold text-[13px] p-1 bg-white text-black rounded-[8px] text-[10px]"
            >
              Join Me
            </button>
          </div>
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="row row-cols-2">
            <div class="col">
              <div class="flex gap-x-1 lg:gap-x-2">
                <div>
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span> waltdejesus </span>
              </div>
            </div>

            <div class="col">
              <div class="flex items-center gap-x-1 lg:gap-x-2">
                <div class="z-20 absolute">
                  <img
                    src="../../../assets/images/Naldo.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-10 ml-2 pl-1 absolute">
                  <img
                    src="../../../assets/images/Jonas.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <div class="z-0 ml-2 pl-4 absolute">
                  <img
                    src="../../../assets/images/Micheli.png"
                    alt="Avatar"
                    class="w-8 rounded-full"
                  />
                </div>
                <span class="ml-16"> + 5.5k Players </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
