<main>
  <div
    id="carouselExampleControls2"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active pb-14">
        <div class="row row-col-3">
          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-14">
                    <h3 class="text-lg font-bold lg:absolute">Game Strong</h3>
                    <span class="mt-8 text-sm lg:absolute">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-10 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mt-[61px] rounded-[10px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-1.png"
                    alt="imagem..."
                    class="w-[330px] h-[213px]"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-14">
                    <h3 class="text-lg font-bold lg:absolute">Game Strong</h3>
                    <span class="mt-8 text-sm lg:absolute">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-10 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mr-[10px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-3.png"
                    alt="imagem..."
                    class="w-[144px] h-[274px]"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-10">
                    <h3 class="text-lg font-bold">Game Strong</h3>
                    <span class="mt-4 text-sm">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-2 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mr-[2px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-2.png"
                    alt="imagem..."
                    class="w-[186px] h-[274px]"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item pb-14">
        <div class="row row-col-3">
          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-14">
                    <h3 class="text-lg font-bold lg:absolute">Game Strong</h3>
                    <span class="mt-8 text-sm lg:absolute">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-10 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mt-[61px] rounded-[10px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-1.png"
                    alt="imagem..."
                    class="w-[330px] h-[213px]"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-14">
                    <h3 class="text-lg font-bold lg:absolute">Game Strong</h3>
                    <span class="mt-8 text-sm lg:absolute">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-10 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mr-[10px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-3.png"
                    alt="imagem..."
                    class="w-[144px] h-[274px]"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-10">
                    <h3 class="text-lg font-bold">Game Strong</h3>
                    <span class="mt-4 text-sm">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-2 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mr-[2px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-2.png"
                    alt="imagem..."
                    class="w-[186px] h-[274px]"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item pb-14">
        <div class="row row-col-3">
          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-14">
                    <h3 class="text-lg font-bold lg:absolute">Game Strong</h3>
                    <span class="mt-8 text-sm lg:absolute">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-10 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mt-[61px] rounded-[10px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-1.png"
                    alt="imagem..."
                    class="w-[330px] h-[213px]"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-14">
                    <h3 class="text-lg font-bold lg:absolute">Game Strong</h3>
                    <span class="mt-8 text-sm lg:absolute">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-10 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mr-[10px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-3.png"
                    alt="imagem..."
                    class="w-[144px] h-[274px]"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col pt-2 lg:pt-2">
            <div
              class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] w-auto lg:w-[486px] h-auto rounded-[10px]"
            >
              <div class="flex justify-between">
                <div class="py-6 px-8">
                  <img src="../../../../assets/icons/star-3.png" alt="" />

                  <div class="mt-10">
                    <h3 class="text-lg font-bold">Game Strong</h3>
                    <span class="mt-4 text-sm">
                      Some additional description for this game
                    </span>
                    <br />
                    <button
                      class="bg-white text-black rounded-[8px] p-2 mt-2 cursor-pointer"
                    >
                      Play Now
                    </button>
                  </div>
                </div>

                <div class="justify-end mr-[2px] hidden lg:block">
                  <img
                    src="../../../../assets/images/persona/persona-2.png"
                    alt="imagem..."
                    class="w-[186px] h-[274px]"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-indicators flex justify-center gap-2">
      <button
        type="button"
        data-bs-target="#carouselExampleControls2"
        data-bs-slide-to="0"
        class="active focus:outline-none"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleControls2"
        data-bs-slide-to="1"
        class="focus:outline-none"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleControls2"
        data-bs-slide-to="2"
        class="focus:outline-none"
        aria-label="Slide 3"
      ></button>
    </div>
  </div>
</main>
