<div id="menu" class="min-h-screen z-10 w-64 left-0 h-screen">
  <!-- Works+ace Walt -->
  <div class="my-4 px-6">
    <h1 class="text-lg font-bold text-white">Workspace Walt</h1>
  </div>
  <div id="nav" class="w-full px-6 space-y-4">
    <a
      class="w-full px-2 inline-flex space-x-2 items-center bg-[#4B1FD6] p-3 rounded-[8px] cursor-pointer"
    >
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/newsFeed.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          News Feed
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/forum.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Forums
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/trending.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Trending
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/saveds.png" alt="icon..." class="h-4 w-5" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Saveds
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/star.png" alt="icon..." class="h-4 w-5" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Your Stars
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/score.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Scores
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/development.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Developments
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/matche.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Matches
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center hover:bg-[#4B1FD6] hover:p-3 hover:rounded-[8px] cursor-pointer">
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/generalRule.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          General Rules
        </span>
      </div>
    </a>
  </div>

  <!-- Following -->
  <div class="my-4 px-6">
    <h1 class="text-lg font-bold text-white">Following</h1>
  </div>
  <div id="nav" class="w-full px-6 space-y-1">
    <a class="w-full px-2 inline-flex space-x-2 items-center cursor-pointer">
      <div class="flex gap-x-2">
        <div class="relative inline-block">
          <img
            src="../../../assets/images/Jonas-1.png"
            alt="Avatar"
            class="w-8 rounded-full"
          />
          <div
            class="absolute bottom-0 right-0 p-1 bg-green-500 rounded-full"
          ></div>
        </div>
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Dylan
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center cursor-pointer">
      <div class="flex gap-x-2">
        <div class="relative inline-block">
          <img
            src="../../../assets/images/Estrela.png"
            alt="Avatar"
            class="w-8 rounded-full"
          />
          <div
            class="absolute bottom-0 right-0 p-1 bg-green-500 rounded-full"
          ></div>
        </div>
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Estrela
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center cursor-pointer">
      <div class="flex gap-x-2">
        <div class="relative inline-block">
          <img
            src="../../../assets/images/Micheli.png"
            alt="Avatar"
            class="w-8 rounded-full"
          />
          <div
            class="absolute bottom-0 right-0 p-1 bg-green-500 rounded-full"
          ></div>
        </div>
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Micheli
        </span>
      </div>
    </a>

    <a class="w-full px-2 inline-flex space-x-2 items-center cursor-pointer">
      <div class="flex gap-x-2">
        <div class="relative inline-block">
          <img
            src="../../../assets/images/Naldo.png"
            alt="Avatar"
            class="w-8 rounded-full"
          />
          <div
            class="absolute bottom-0 right-0 p-1 bg-green-500 rounded-full"
          ></div>
        </div>
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Naldo
        </span>
      </div>
    </a>

    <button class="bg-[#4B1FD6] p-2 rounded-[8px] space-x-4">
      <span class="text-sm text-white font-semibold hidden md:block grid grid-col-2">
        See all <img src="../../../assets/icons/go.png" alt="icon..." class="w-2">
      </span>
    </button>
  </div>

  <!-- System -->
  <div class="my-4 px-6">
    <h1 class="text-lg font-bold text-white">System</h1>
  </div>
  <div id="nav" class="w-full px-6 space-y-2">
    <a
      class="w-full px-2 inline-flex space-x-2 items-center"
    >
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/conditions.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Conditions
        </span>
      </div>
    </a>

    <a
      class="w-full px-2 inline-flex space-x-2 items-center"
    >
      <div class="flex gap-x-2">
        <img src="../../../assets/icons/settings.png" alt="icon..." class="" />
        <span class="text-sm text-white font-semibold hidden md:block gap-x-2">
          Settings
        </span>
      </div>
    </a>
  </div>
</div>
