<div class="mt-4">
  <div class="row rows-cols-5">
    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div>
          <img
            src="../../../assets/images/cards/NewReleases/game1.png"
            class="card-img-top"
            alt="release..."
          />
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="flex gap-x-1">
            <img src="../../../assets/icons/money.png" alt="icon..." class="h-6">
            <span>
              US$ 100,786
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div>
          <img
            src="../../../assets/images/cards/NewReleases/game1.png"
            class="card-img-top"
            alt="release..."
          />
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="flex gap-x-1">
            <img src="../../../assets/icons/money.png" alt="icon..." class="h-6">
            <span>
              US$ 100,786
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div>
          <img
            src="../../../assets/images/cards/NewReleases/game1.png"
            class="card-img-top"
            alt="release..."
          />
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="flex gap-x-1">
            <img src="../../../assets/icons/money.png" alt="icon..." class="h-6">
            <span>
              US$ 100,786
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div>
          <img
            src="../../../assets/images/cards/NewReleases/game1.png"
            class="card-img-top"
            alt="release..."
          />
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="flex gap-x-1">
            <img src="../../../assets/icons/money.png" alt="icon..." class="h-6">
            <span>
              US$ 100,786
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col mt-2">
      <div class="" style="width: 18rem">
        <div>
          <img
            src="../../../assets/images/cards/NewReleases/game1.png"
            class="card-img-top"
            alt="release..."
          />
        </div>

        <div class="card-body mt-2">
          <div class="flex justify-between">
            <div>
              <button class="bg-white text-black p-2 rounded-[10px]">
                <span class="font-bold text-[13px]">Category</span>
              </button>
            </div>

            <div class="justify-end">
              <img
                src="../../../../assets/icons/star-2.png"
                alt="icon..."
                class="w-4"
              />
            </div>
          </div>

          <h6 class="font-semibold mt-3 mb-3">Title of Game Auto VII Here</h6>

          <div class="flex gap-x-1">
            <img src="../../../assets/icons/money.png" alt="icon..." class="h-6">
            <span>
              US$ 100,786
            </span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>