<div class="alert alert-dismissible fade show pt-12" role="alert">
  <h2 class="font-bold text-white text-2xl">Game Statistics</h2>
  <button
    type="button"
    class="btn-close bg-[#FFD80E] rounded-full text-sm h-auto w-2"
    data-bs-dismiss="alert"
  ></button>

  <div
    class="bg-gradient-to-r from-[#3EEC3A0A] to-[#3A61EC1A] rounded-[10px] p-8 mt-10"
  >
    <div class="row mt-2">
      <div class="col-8">
        <div class="flex gap-x-1 lg:gap-x-2">
          <div class="">
            <button class="bg-white text-black font-semibold p-2 rounded-[8px]">
              Most Played
            </button>
          </div>

          <div class="">
            <button
              class="bg-[#191821] text-white font-semibold p-2 rounded-[8px]"
            >
              Most Pupular
            </button>
          </div>

          <div class="">
            <button
              class="bg-[#191821] text-white font-semibold p-2 rounded-[8px]"
            >
              Most Dowloands
            </button>
          </div>
        </div>
      </div>

      <div class="col-2"></div>
    </div>

    <div class="row aling-items-start mt-8">
      <h2 class="text-2xl mb-8 font-semibold">
        TOP 3 - Statistics of last 7 days in this platform
      </h2>
      <div class="col">
        <div class="mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../../assets/images/cards/GameStatistics/capa-1.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-4">
                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Name: </span>

                      <span class="text-white font-semibold">
                        Name of Game
                      </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Ratings:: </span>

                      <span class="text-[#FFD80E] font-semibold"> 7.6 </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Creator: </span>

                      <span class="text-white font-semibold">
                        waltStudios
                      </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Downloads: </span>

                      <span class="text-white font-semibold"> 1.46 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Release data: </span>

                      <span class="text-white font-semibold"> 20'Aug'12 </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Players: </span>

                      <span class="text-white font-semibold"> 1.04 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Category: </span>

                      <span class="text-white font-semibold"> Mistey </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Views: </span>

                      <span class="text-white font-semibold"> 1.46 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Country: </span>

                      <span class="text-white font-semibold"> Angola </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../../assets/images/cards/GameStatistics/capa-2.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-4">
                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Name: </span>

                      <span class="text-white font-semibold">
                        Name of Game
                      </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Ratings:: </span>

                      <span class="text-[#FFD80E] font-semibold"> 7.6 </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Creator: </span>

                      <span class="text-white font-semibold">
                        waltStudios
                      </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Downloads: </span>

                      <span class="text-white font-semibold"> 1.46 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Release data: </span>

                      <span class="text-white font-semibold"> 20'Aug'12 </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Players: </span>

                      <span class="text-white font-semibold"> 1.04 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Category: </span>

                      <span class="text-white font-semibold"> Mistey </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Views: </span>

                      <span class="text-white font-semibold"> 1.46 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Country: </span>

                      <span class="text-white font-semibold"> Angola </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../../assets/images/cards/GameStatistics/capa-3.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-4">
                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Name: </span>

                      <span class="text-white font-semibold">
                        Name of Game
                      </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Ratings:: </span>

                      <span class="text-[#FFD80E] font-semibold"> 7.6 </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Creator: </span>

                      <span class="text-white font-semibold">
                        waltStudios
                      </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Downloads: </span>

                      <span class="text-white font-semibold"> 1.46 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Release data: </span>

                      <span class="text-white font-semibold"> 20'Aug'12 </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Players: </span>

                      <span class="text-white font-semibold"> 1.04 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Category: </span>

                      <span class="text-white font-semibold"> Mistey </span>
                    </p>
                  </div>
                  <div class="col mb-2 input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Views: </span>

                      <span class="text-white font-semibold"> 1.46 K </span>
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col input-group">
                    <p class="text-[#B7B7B7]">
                      <span> Country: </span>

                      <span class="text-white font-semibold"> Angola </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
