<main>
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="">
          <div class="relative">
            <img
              src="../../../../assets/images/banner-1.png"
              class="d-block w-100"
              alt="imagem..."
            />
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[#0B0A13] via-transparent to-transparent opacity-100"
            ></div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-xl lg:text-5xl font-extrabold">A NEW WORLD IS BORN</h5>
          <button
            class="p-2 bg-white text-black rounded-[10px] mt-2 text-semibold"
          >
            Meet the Community
          </button>
        </div>
      </div>

      <div class="carousel-item">
        <div class="">
          <div class="relative">
            <img
              src="../../../../assets/images/banner-1.png"
              class="d-block w-100"
              alt="imagem..."
            />
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[#0B0A13] via-transparent to-transparent opacity-100"
            ></div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block mb-2">
          <h5 class="text-5xl font-extrabold">A NEW WORLD IS BORN</h5>
          <button
            class="p-2 bg-white text-black rounded-[10px] mt-2 text-semibold"
          >
            Meet the Community
          </button>
        </div>
      </div>

      <div class="carousel-item">
        <div class="">
          <div class="relative">
            <img
              src="../../../../assets/images/banner-1.png"
              class="d-block w-100"
              alt="imagem..."
            />
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[#0B0A13] via-transparent to-transparent opacity-100"
            ></div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block mb-2">
          <h5 class="text-5xl font-extrabold">A NEW WORLD IS BORN</h5>
          <button
            class="p-2 bg-white text-black rounded-[10px] mt-2 text-semibold"
          >
            Meet the Community
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-indicators flex justify-center gap-2">
      <button
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide-to="0"
        class="active focus:outline-none"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide-to="1"
        class="focus:outline-none"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide-to="2"
        class="focus:outline-none"
        aria-label="Slide 3"
      ></button>
    </div>
  </div>
</main>
